body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    text-align: center;
    margin: 50px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}
