body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #495057;
}

h1 {
    text-align: center;
    color: #007bff;
    margin-top: 40px;
}

#userInfo {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #495057;
}

input, button {
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#userInfo h2 {
    color: #007bff;
    margin-bottom: 15px;
}

#userInfo p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

#userInfo strong {
    font-weight: bold;
    color: #007bff;
}
