*{
    padding: 0%;
    margin: 0%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0 auto;
    padding: 0;
}

h1, h2 {
    color: #333;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

select {
    font-size: 1.25rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

img {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40em;
    height: 30em;
}

button {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}